{extend name='base' /}
{block name='content'}
    <table class="table table-hover">
        <tbody>
        <tr>
            <th class="active" colspan="10">温馨提示</th>
        </tr>
        <tr>
            <td colspan="10">
                Php offical：<a href="https://secure.php.net/manual/zh/index.php" target="_blank">https://secure.php.net/manual/zh/index.php</a><br>
                Thinkphp5.0-manual：<a href="https://www.kancloud.cn/manual/thinkphp5/118004" target="_blank">https://www.kancloud.cn/manual/thinkphp5</a><br>
                后盾网论坛：<a href="http://bbs.houdunwang.com" target="_blank">bbs.houdunwang.com</a>
                后盾网论坛：<a href="http://bbs.houdunwang.com" target="_blank">bbs.houdunwang.com</a>

            </td>
        </tr>
        <tr>
            <th class="active" colspan="10">系统信息</th>
        </tr>
        <tr>
            <td>核心框架</td>
            <td colspan="5">Thinkphp</td>
        </tr>
        <tr>
            <td>版本号</td>
            <td colspan="5">1.0</td>
        </tr>
        <tr>
            <td>开发者</td>
            <td colspan="5">后盾网武斌</td>
        </tr>
        </tbody>
    </table>
{/block}
<!--{block name='test'}-->
<!--test is the most useful weapon!-->
<!--{/block}-->
<!--{block name='append'}-->
<!--beer for everyone-->
<!--{/block}-->