<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{$headName}</title>
    <!--描述和摘要-->
    <meta name="Description" content=""/>
    <meta name="Keywords" content=""/>
    <!--载入公共模板-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="__HOME__/org/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <script src="__HOME__/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__HOME__/org/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__HOME__/css/index.css" />
    <link rel="stylesheet" type="text/css" href="__HOME__/css/backTop.css"/>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>欢迎来到 My Blog</h1>
            </div>
        </div>
    </div>
</header>
<nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">

                        <span class="sr-only">切换导航</span>

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="_menu" >
                        <li {if condition="!input('param.')"}class="_active"{/if}><a href="__ROOT__/index.html">首页</a></li>
                        {foreach name='_cateList' item='vo'}
                        <li {if condition="input('param.cate_id')==$vo['cate_id']"}class="_active"{/if}><a href="{:url('index/lists/index',['cate_id'=>$vo['cate_id']])}">{$vo['cate_name']}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <!--标签规定文档的主要内容main-->
            <main class="col-md-8">
            {block name='content'}{/block}
            </main>
            <aside class="col-md-4 hidden-sm hidden-xs">
                <div class="_widget">
                        <h4 class="_title">最新文章</h4>
                        {foreach name='_recentArt' item='voa'}
                        <div id="" class="_single">
                            <p><a href="{:url('index/content/index',['arc_id'=>$voa['arc_id']])}" target="_blank">{$voa['arc_title']}</a></p>
                            <time>{:date('Y年m月d日',$voa['createtime'])}</time>
                        </div>
                        {/foreach}
                </div>
                <div class="_widget">
                    <h4>分类列表</h4>
                    <div>
                        {foreach name='_allCate' item='voc'}
                        <a href="{:url('index/lists/index',['cate_id'=>$voc['cate_id']])}">{$voc['cate_name']}</a>
                        {/foreach}
                    </div>
                </div>
                <div class="_widget">
                    <h4>标签云</h4>
                    <div class="_tag">
                        {foreach name='_allTag' item='vot'}
                        <a href="{:url('index/tag/index',['tag_id'=>$vot['tag_id']])}">{$vot['tag_name']}</a>
                        {/foreach}
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<footer class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 footer_about">
                <h4 class="_title">关于</h4>
                <div class="_info">
                    <p>
                        <i class="glyphicon glyphicon-volume-down"></i>
                        关于:本博客定位技术记录,生活记录.欢迎交流.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 class="_title">友情链接</h4>
                <div id="" class="_single">
                    {foreach name='_link' item='vol'}
                    <p><a href="{$vol['link_url']}" target="_blank">{$vol['link_name']}</a></p>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="">{$_webset['title']}</a>
                |
                <a href="">{$_webset['copyright']}</a>
                |
                <a href="">{$_webset['email']}</a>
            </div>
        </div>
    </div>
</div>
<!--返回顶部自己写的插件-->
<script src="__HOME__/js/backTop.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
        //插件使用
        $('.back_top').backTop({right:30});
    })
</script>
<div class="back_top hidden-xs hidden-md">
    <i class="glyphicon glyphicon-menu-up"></i>
</div>
</body>
</html>